# Node/n8n settings
N8N_VERSION=2.7.1
DOMAIN=n8n.shopeazy.co

# GCP Project variables
PROJECT_ID=shopeazy-production
REGION=europe-west1

# Cloud SQL variables
DB_INSTANCE_NAME=n8n-postgres
DB_NAME=n8n
DB_USER=n8nuser
DB_PASS=n8nsupersecretpassword99

# Artifact Registry variables
AR_REPO=n8n-repo

# Cloud Storage variables (must be globally unique!)
BUCKET_NAME=shopeazy-n8n-data-bucket

# Service Account identifier (first part of email)
SERVICE_ACCOUNT=n8n-runner
